<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/urika-gem-automation"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="urika-gem-automation"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS">
<mapEntry key="com.yarcdata.tests.automated.general.TestcaseCaptureScreenshotTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.general.TestcaseGetEnvDetailsTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.general.TestcaseTrialCodeTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.launchloginquit.TestcaseBrowserLaunchQuitTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.launchloginquit.TestcaseLaunchLoginUrikaTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.libraries.FunctionsLibrary" value=""/>
<mapEntry key="com.yarcdata.tests.automated.libraries.MethodsLibrary" value=""/>
<mapEntry key="com.yarcdata.tests.automated.libraries.ObjectsLibrary" value=""/>
<mapEntry key="com.yarcdata.tests.automated.managedata.TestcaseAddLocalDataFileTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.managedata.TestcaseDeleteDataFileTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.managedata.TestcaseSearchDataFileTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.report.TestcaseDisplayReportTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.report.TestcaseSendReportTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.selecttabs.TestcaseSelectTabDashboardTest" value=""/>
<mapEntry key="com.yarcdata.tests.automated.selecttabs.TestcaseSelectTabManageDataTest" value=""/>
</mapAttribute>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="com.yarcdata.tests.automated.libraries.ObjectsLibrary"/>
<listEntry value="com.yarcdata.tests.automated.selecttabs.TestcaseSelectTabManageDataTest"/>
<listEntry value="com.yarcdata.tests.automated.launchloginquit.TestcaseBrowserLaunchQuitTest"/>
<listEntry value="com.yarcdata.tests.automated.libraries.FunctionsLibrary"/>
<listEntry value="com.yarcdata.tests.automated.libraries.MethodsLibrary"/>
<listEntry value="com.yarcdata.tests.automated.report.TestcaseSendReportTest"/>
<listEntry value="com.yarcdata.tests.automated.managedata.TestcaseSearchDataFileTest"/>
<listEntry value="com.yarcdata.tests.automated.managedata.TestcaseAddLocalDataFileTest"/>
<listEntry value="com.yarcdata.tests.automated.managedata.TestcaseDeleteDataFileTest"/>
<listEntry value="com.yarcdata.tests.automated.selecttabs.TestcaseSelectTabDashboardTest"/>
<listEntry value="com.yarcdata.tests.automated.general.TestcaseGetEnvDetailsTest"/>
<listEntry value="com.yarcdata.tests.automated.general.TestcaseTrialCodeTest"/>
<listEntry value="com.yarcdata.tests.automated.general.TestcaseCaptureScreenshotTest"/>
<listEntry value="com.yarcdata.tests.automated.launchloginquit.TestcaseLaunchLoginUrikaTest"/>
<listEntry value="com.yarcdata.tests.automated.report.TestcaseDisplayReportTest"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.GROUP_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
<stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<stringAttribute key="org.testng.eclipse.PREDEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
